<template>
  <div id="app" style="background: white">
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light" v-bind:style="{ backgroundImage: 'url(' + 'https://hdwallsource.com/img/2014/8/gold-light-wallpaper-24281-24943-hd-wallpapers.jpg' + ')',backgroundSize: '100%' }">
      <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 font-weight-normal">Sueñitos 3000</h1>
        <p class="lead font-weight-normal">Puedes descansar tranquilamente por las noches aun si tienes reponsabilidades, ya que sueñitos 3000 lo resolvera por ti.</p>
        <a class="btn btn-outline-secondary" v-on:click="saludar">Comprar</a>
      </div>
      <div class="product-device box-shadow d-none d-md-block"></div>
      <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
    </div>

    <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
      <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden" v-bind:style="{ backgroundImage: 'url(' + 'https://ak.picdn.net/shutterstock/videos/1028303441/thumb/1.jpg' + ')',backgroundSize: '100%' }">
        <div class="my-3 py-3">
          <h2 class="display-5">Another headline</h2>
          <p class="lead">And an even wittier subheading.</p>
        </div>
        <div class="bg-light box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
      </div>
      <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden" v-bind:style="{ backgroundImage: 'url(' + 'https://frihostel.es/wp-content/uploads/2016/06/light-abstract-desktop-background-wallpaper-2.jpg' + ')',backgroundSize: '160%' }">
        <div class="my-3 p-3">
          <h2 class="display-5">Another headline</h2>
          <p class="lead">And an even wittier subheading.</p>
        </div>
        <div class="bg-dark box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
      </div>
    </div>

    <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
      <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden"  v-bind:style="{ backgroundImage: 'url(' + 'https://cdn.hipwallpaper.com/i/47/7/rJ7uVb.jpg' + ')',backgroundSize: '180%' }">
        <div class="my-3 p-3">
          <h2 class="display-5">Another headline</h2>
          <p class="lead">And an even wittier subheading.</p>
        </div>
        <div class="bg-dark box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
      </div>
      <div class="bg-primary mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden"  v-bind:style="{ backgroundImage: 'url(' + 'https://cellularnews.com/wp-content/uploads/2020/03/Cool-10-325x485.jpg' + ')',backgroundSize: '100%' }">
        <div class="my-3 py-3">
          <h2 class="display-5">Another headline</h2>
          <p class="lead">And an even wittier subheading.</p>
        </div>
        <div class="bg-light box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
      </div>
    </div>

    <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
      <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden"  v-bind:style="{ backgroundImage: 'url(' + 'https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQjlknCDdOM1MStArxU9MBp9kBeXj3_VNZj_EPewsBTHp-qSdgy&usqp=CAU' + ')',backgroundSize: '100%' }">
        <div class="my-3 p-3">
          <h2 class="display-5">Another headline</h2>
          <p class="lead">And an even wittier subheading.</p>
        </div>
        <div class="bg-white box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
      </div>
      <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden"  v-bind:style="{ backgroundImage: 'url(' + 'https://www.originwallcoverings.com/media/catalog/product/cache/0/thumbnail/600x600/100b301ec4e443a53184de7a29218dc0/3/4/347512.jpg' + ')',backgroundSize: '100%' }">
        <div class="my-3 py-3">
          <h2 class="display-5">Another headline</h2>
          <p class="lead">And an even wittier subheading.</p>
        </div>
        <div class="bg-white box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
      </div>
    </div>

    <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
      <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden"  v-bind:style="{ backgroundImage: 'url(' + 'https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQKIu_AaLVasj_-ZNgV60amMYS66wrWhaD9OW7PSpykZ1ZpADa5&usqp=CAU' + ')',backgroundSize: '100%' }">
        <div class="my-3 p-3">
          <h2 class="display-5">Another headline</h2>
          <p class="lead">And an even wittier subheading.</p>
        </div>
        <div class="bg-white box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
      </div>
      <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden"  v-bind:style="{ backgroundImage: 'url(' + 'https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQl3ajKhEwZiddFGXPeRnwAShxsIl2PFW4yzickiZmvGniZoeU_&usqp=CAU' + ')',backgroundSize: '100%' }">
        <div class="my-3 py-3">
          <h2 class="display-5">Another headline</h2>
          <p class="lead">And an even wittier subheading.</p>
        </div>
        <div class="bg-white box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  methods: {
    saludar: function (event) {
      // `this` dentro de los métodos apunta a la instancia de Vue
      alert('No dejes que te roben el dinero!')
      // `evento` es el evento DOM nativo
      if (event) {
        alert("Gaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa X2")
      }
    }
  },
  data() {
        return {
          counter: 0
        };
    },
}
</script>