<template>
  <div class="container" style="background: white">
<!--     <div class="large-12 medium-12 small-12 cell">
      <label>File
        <input type="file" id="file" ref="file" v-on:change="handleFileUpload()"/>
      </label>
        <button v-on:click="submitFile()">Subir</button>
    </div> -->
    <h1>Usuario</h1>
    <div v-bind:style="{ width:'100%', padding: '1%'}">
        <b-alert
            :show="dismissCountDown"
            dismissible
            :variant="mensaje.color"
            @dismissed="dismissCountDown=0"
            @dismiss-count-down="countDownChanged"
        >
            {{mensaje.texto}} {{mensaje.errorNom}} {{mensaje.errorEma}} {{mensaje.errorPass}}
        </b-alert>
    </div>
    <div v-bind:style="{ width:'100%', padding: '1%'}" v-if="alerta2">
        <b-alert
            :show="dismissCountDown"
            dismissible
            :variant="mensaje.color"
            @dismissed="dismissCountDown=0"
            @dismiss-count-down="countDownChanged"
        >
            {{validarNombre.if1}} {{validarNombre.if2}}
        </b-alert>
    </div>
    <div v-bind:style="{width:'100%'}">
        <div v-bind:style="{   margin: 'auto',
                width: '50%',
                padding: '10px'}">
            <form @submit.prevent="editarUsuario(usuarioEditar)" v-if="editar"> <!-- @submit.prevent="editarUsuario(usuarioEditar)" -->
                <h3>Editar usuario</h3>
                <div class="large-12 medium-12 small-12 cell">
                    <label>File
                        <input type="file" id="file" ref="file" v-on:change="handleFileUpload()"/>
                    </label>
                    <button v-on:click="submitFile(usuarioEditar._id)">Subir</button>
                </div>
                <input type="text" class="form-control my-2" placeholder="Nombre" v-model="usuarioEditar.nombre">
                <input type="text" class="form-control my-2" placeholder="Email" v-model="usuarioEditar.email">
                <input type="text" class="form-control my-2" placeholder="Contraseña" v-model="usuarioEditar.password">
                <select class="form-control my-2" v-model="usuarioEditar.estado">
                    <option disabled value="">Seleccione un estado</option>
                    <option value="true" >Activo</option>
                    <option value="false" >Inactivo</option>
                </select>
                <select class="form-control my-2" v-model="usuarioEditar.role">
                    <option disabled value="">Seleccione un rol</option>
                    <option value="USER_ROLE" >Usuario</option>
                    <option value="ADMIN_ROLE" >Administrador</option>
                </select>

                <b-button class="btn-success my-2 mx-2" type="submit">Editar</b-button>
                <b-button class="btn-warning my-2" @click="desactivarEdicion()">Cancelar</b-button>
            </form>

            <form v-if="!editar"> <!-- @submit.prevent="editarUsuario(usuarioEditar)" -->
                <h3>Agregar usuario</h3>
                <input type="text" class="form-control my-2" placeholder="Nombre" v-model="usuario.nombre">
                <input type="text" class="form-control my-2" placeholder="Email" v-model="usuario.email">
                <input type="text" class="form-control my-2" placeholder="Contraseña" v-model="usuario.password">
                <select class="form-control my-2" v-model="usuario.estado">
                    <option disabled value="">Seleccione un estado</option>
                    <option value="true" >Activo</option>
                    <option value="false" >Inactivo</option>
                </select>
                <select class="form-control my-2" v-model="usuario.role">
                    <option disabled value="">Seleccione un rol</option>
                    <option value="USER_ROLE" >Usuario</option>
                    <option value="ADMIN_ROLE" >Administrador</option>
                </select>

                <b-button class="btn-success my-2" @click="agregarUsuario()">Agregar</b-button> <!-- type="submit" -->
            </form>
        </div>

        <div @submit.prevent>
            <b-table-simple hover small caption-top responsive class="table">
                <caption>Lista de usuario registrados en la base de datos</caption>
                <colgroup><col><col></colgroup>
                <colgroup><col><col><col></colgroup>
                <colgroup><col><col></colgroup>
                <b-thead head-variant="dark">
                    <b-tr>
                        <b-th scope="col">#</b-th>
                        <b-th scope="col">Imagen</b-th>
                        <b-th scope="col">Nombre</b-th>
                        <b-th scope="col">Correo</b-th>
                        <b-th scope="col">Estado</b-th>
                        <b-th scope="col">Rol</b-th>
                        <b-th scope="col">Acciones</b-th>
                    </b-tr>
                </b-thead>
                <tbody class="text-center">
                    <b-tr v-for="(item, index) in usuarios" :key="index">
                        <b-th class="align-middle"  scope="row">{{index + 1}}</b-th>
                        <b-td class="align-middle"  ><b-img v-bind:style="{ background: 'black', width: '100px !important', padding: '1%', color: 'white'}" v-bind="mainProps" rounded fluid alt="Imagen no disponible" v-bind:src='item.google == true ? item.img :`https://brucce-lab11-tarea.herokuapp.com/imagen/usuarios/${item.img}`'></b-img></b-td>
                        <b-td class="align-middle">{{item.nombre}}</b-td>
                        <b-td class="align-middle" >{{item.email}}</b-td>
                        <b-td class="align-middle" v-if="item.estado == true">Activo</b-td><b-td v-else>Inactivo</b-td>
                        <b-td class="align-middle" v-if="item.role == 'USER_ROLE'">Usuario</b-td> <b-td v-else>Administrador</b-td>
                        <b-td class="align-middle" >
                            <b-button @click="eliminarUsuario(item._id)" class="btn-danger btn-sm mx-2">Eliminar</b-button>
                            <b-button @click="activarEdicion(item._id)" class="btn-info btn-sm">Editar</b-button>
                        </b-td>
                    </b-tr>
                </tbody>
            </b-table-simple>
        </div>
    </div>
  </div>
</template>

<script>

const expRegNombre=/^[a-zA-ZÑñÁáÉéÍíÓóÚúÜü\s]+$/;
const expRegCorreo=/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
import { mapState, mapActions } from "vuex";

export default {
    props: {
        id: String
    },
    data() {
        return {
            usuarios: [],
            usuario:{_id:'', nombre:'', email:'', password:'', role:'USER_ROLE', estado:'true', img:''},
            mensaje: {color: '', texto: '', errorNom: '', errorEma: '', errorPass: ''},
            dismissSecs: 7,
            dismissCountDown: 0,
            editar: false,
            alerta2: true,
            usuarioEditar:{},
            validarNombre: { if1:'', if2:''},
            file: ''
        };
    },
    mounted : function() {
        //console.log(this.$refs["“myid"])
    },
    created(){
        this.listarUsuarios();
        this.obtenerImagen();
    },
    computed: {
        ...mapState(["token"]),
        //...mapState(["id"]),
    },
    methods:{
        alerta(){
            this.mensaje.color = 'success'
            this.mensaje.texto = 'Probando alerta Gaaa'
            this.showAlert();
        },
        handleFileUpload(){
            this.file = this.$refs.file.files[0];
        },
        submitFile(id){
            console.log("Id de usuario: " + id)
            //console.log("res.data.usuario.nombre " + JSON.stringify(res.data.usuario[1].nombre));
            /*Initialize the form data*/
            var formData = new FormData();
            /*Add the form data we need to submit*/
            formData.append('archivo', this.file);
            /*Make the request to the POST /single-file URL*/
            this.axios.put(`/upload/usuarios/${id}`, formData,{
                headers: {
                    'Content-Type': 'multipart/form-data'
                }
            }
            ).then(function(){
                console.log('Submit SUCCESS!!');
            })
            .catch(function(){
                console.log('Submit FAILURE!!');
            });
        },
/*         obtenerImagen(img){
            console.log("Cargando funcion obetener")
            console.log("Variable item.img:" + JSON.stringify(img));
            //const IMG = JSON.stringify(img);
            //console.log("Variable IMG:" + IMG);
            //this.axios.get('/imagen/usuarios/5ed2c4dcc9ec634d18539d8c-479.jpg')
            this.axios.get(`/imagen/usuarios/${img}`)
                .then(res => {
                    console.log('Obtener SUCCESS!!');
                    console.log('Res :' + res.data)
                    console.log('Res2 :' + JSON.stringify(res.data))
                    //return JSON.stringify(res.data)
                    //console.log("img " + JSON.stringify(res.data.usuario));
                    //console.log("Esta es img listar " + JSON.stringify(res.data.usuario[1].img));
                })
                .catch(e => {
                    console.log('Obtener FAILURE!!');
                })
        }, */
        agregarUsuario(){
            let config = {
                headers: {
                  token: this.token
                }
            }
            const validarNombre = () =>{
                if(this.usuario.nombre != "" || this.usuario.nombre.length != 0){
                    console.log("IFFFFFFFFFFFF Validar Nombre 1")
                    if(expRegNombre.test(this.usuario.nombre)){
                        console.log("IFFFFFFFFFFFF Validar Nombre 2")
                        return false
                    }else{
                        this.validarNombre.if2 = "El nombre no es valido, omita números";
                        this.validarNombre.if1 = "";
                        return true
                    }
                }else{
                    this.validarNombre.if1 = "No puede dejar el nombre vacio";
                    return true
                }
            }

            const validarEmail = () =>{
                if(this.usuario.email != "" || this.usuario.email.length != 0){
                    console.log("IFFFFFFFFFFFF Validar Correo 1")
                    if(expRegCorreo.test(this.usuario.email)){
                        console.log("IFFFFFFFFFFFF Validar Correo 2")
                        return false
                    }else{
                        this.validarNombre.if2 = "El email no es valido";
                        this.validarNombre.if1 = "";
                        return true
                    }
                }else{
                    this.validarNombre.if1 = "No puede dejar el email vacio";
                    return true
                }
            }

            const validarPassword = () =>{
                if(this.usuario.password != "" || this.usuario.password.length != 0){
                    if(this.usuario.password.length >= 8){
                        return false
                    }else {
                        this.validarNombre.if2 = "La contraseña debe tener minimo 8 caracteres";
                        this.validarNombre.if1 = "";
                        return true
                    }
                } else{
                    this.validarNombre.if1 = "No puede dejar la contraseña vacia";
                    return true
                }
            }

            if(validarNombre()){
                this.mensaje.errorPass = '';
                this.mensaje.errorEma = '';
                this.mensaje.errorNom = 'Ohh! Ocurrio un problema con el nombre';
                this.mensaje.color = 'danger';
                this.mensaje.texto = '';
                this.alerta2 = true;
                this.showAlert();
            } else if(validarEmail()){
                this.mensaje.errorPass = '';
                this.mensaje.errorEma = 'Ohh! Ocurrio un problema con el email';
                this.mensaje.errorNom = '';
                this.mensaje.color = 'danger';
                this.mensaje.texto = '';
                this.alerta2 = true;
                this.showAlert();
            } else if(validarPassword()){
                this.mensaje.errorPass = 'Ohh! Ocurrio un problema con la contraseña';
                this.mensaje.errorEma = '';
                this.mensaje.errorNom = '';
                this.mensaje.color = 'danger';
                this.mensaje.texto = '';
                this.alerta2 = true;
                this.showAlert();
            } else {
                this.axios.post('usuario', this.usuario, config)
                .then(res => {
                    console.log("Exito agragar usuarios")
                    // Agrega al inicio de nuestro array usuarios
                    this.usuarios.unshift(res.data.usuario);

                    // Alerta de mensaje
                    this.usuario.nombre = '';
                    this.usuario.email = '';
                    this.usuario.password = '';
                    this.usuario.role = '';
                    this.mensaje.color = 'success';
                    this.mensaje.texto = 'Usuario agregado con exito';
                    this.mensaje.errorPass = '';
                    this.mensaje.errorEma = '';
                    this.mensaje.errorNom = '';
                    this.alerta2 = false;
                    this.showAlert();
                })
                .catch(e => {
                    console.log(e.response);
                    console.log("Error agragar usuarios")
                    if(e.response.data.err.errors.nombre){
                        this.mensaje.errorNom = e.response.data.err.errors.nombre.properties.message;
                        console.log("Error con el campo nombre")
                        this.mensaje.texto = '';
                        this.mensaje.color = 'danger';
                    } else if(e.response.data.err.errors.email){
                        this.mensaje.errorEma = e.response.data.err.errors.email.properties.message;
                        this.mensaje.errorNom = '';
                        console.log("Error con el campo email")
                        this.mensaje.texto = '';
                        this.mensaje.color = 'danger';
                    } else if(e.response.data.err.errors.password) {
                        this.mensaje.errorPass = e.response.data.err.errors.password.properties.message;
                        this.mensaje.errorEma = '';
                        this.mensaje.errorNom = '';
                        this.mensaje.texto = '';
                        console.log("Error con el campo contraseña")
                        this.mensaje.color = 'danger';
                    }
                    this.showAlert();
                    //this.mensaje.texto = 'Oh Ha ocurrido un problema';
                })
            }
        },
        listarUsuarios(){
            let config = {
                headers: {
                  token: this.token
                }
            }
            this.axios.get('usuario', config)
                .then(res => {
                    console.log(config)
                    console.log("Exito listar usuarios")
                    console.log("res.data " + res.data);
                    this.usuarios = res.data.usuario;
                    //console.log("res.data.usuario.nombre " + JSON.stringify(res.data.usuario[1].nombre));
                    /* console.log("Esta es img listar " + JSON.stringify(res.data.usuario[1].img));
                    this.axios.get('/imagen/usuarios/5ed2c4dcc9ec634d18539d8c-479.jpg')
                        .then(res => {
                            console.log('Obtener SUCCESS!!');
                        })
                        .catch(e => {
                            console.log('Obtener FAILURE!!');
                        }) */
                    /*-----------------------------------------*/
                })
                .catch(e => {
                    console.log(config)
                    console.log("Error listar usuarios")
                    console.log(e.response);
                })
        },
        eliminarUsuario(id){
            console.log(id);
            this.axios.delete(`/usuario/${id}`)
                .then(res => {
                    console.log("Exito eliminar usuario")
                    const index = this.usuarios.findIndex(item => item._id === res.data.usuario._id)
                    this.usuarios.splice(index, 1);
                    this.mensaje.errorPass = '';
                    this.mensaje.errorEma = '';
                    this.mensaje.errorNom = '';
                    this.mensaje.texto = 'Usuario eliminado!'
                    this.mensaje.color = 'danger'
                    this.alerta2 = false;
                    this.showAlert();
                })
                .catch(e => {
                    console.log("Error eliminar usuario")
                    this.alerta2 = false;
                    console.log(e.responde);
                })
        },
        activarEdicion(id){
            this.editar = true;
            this.alerta2 = true;
            console.log("Activando edicion usuario")
            this.axios.get(`/usuario/${id}`)
                .then(res => {
                    this.usuarioEditar = res.data.usuario;
                })
                .catch( e => {
                    console.log(e.response);
                })
        },
        desactivarEdicion(id){
            console.log("Desactivando edicion usuarios")
            this.editar = false;
            this.mensaje.errorPass = '';
            this.mensaje.errorEma = '';
            this.mensaje.errorNom = '';
            this.mensaje.texto = 'Usuario no se ha editado';
            this.mensaje.color = 'warning';
            this.alerta2 = false;
            this.showAlert();
        },
        editarUsuario(item){
            console.log("IFFFFFFFFFFFF Validar Nombre 1")
            console.log(item.nombre)
            const validarNombre = () =>{
                if(expRegNombre.test(item.nombre)){
                    console.log("IFFFFFFFFFFFF Validar Nombre 1")
                    if(item.nombre != "" || !item.nombre.length != 0){
                        console.log("IFFFFFFFFFFFF Validar Nombre 2")
                        return false
                    }else{
                        return true
                    }
                }else{
                    return true
                }
            }
            /*const validarNombre = () =>{
                if(this.usuario.nombre != "" || this.usuario.nombre.length != 0){
                    console.log("IFFFFFFFFFFFF Validar Nombre 1")
                    if(expRegNombre.test(this.usuario.nombre)){
                        console.log("IFFFFFFFFFFFF Validar Nombre 2")
                        return false
                    }else{
                        this.validarNombre.if2 = "El nombre no es valido, omita números";
                        this.validarNombre.if1 = "";
                        return true
                    }
                }else{
                    this.validarNombre.if1 = "No puede dejar el nombre vacio";
                    return true
                }
            }*/

            const validarEmail = () =>{
                if(expRegCorreo.test(item.email)){
                    console.log("IFFFFFFFFFFFF Validar Correo 1")
                    if(item.email != "" || item.email.length != 0){
                        console.log("IFFFFFFFFFFFF Validar Correo 2")
                        return false
                    }else{
                        return true
                    }
                }else{
                    return true
                }
            }

            const validarPassword = () =>{
                if(item.password != "" || item.password.length != 0){
                    if(item.password.length > 5){
                        return false
                    }else {
                        return true
                    }
                } else{
                    return true
                }
            }

            if(validarNombre()){
                this.mensaje.errorPass = '';
                this.mensaje.errorEma = '';
                this.mensaje.errorNom = 'Ohh! Ocurrio un problema con el nombre';
                this.mensaje.color = 'danger';
                this.mensaje.texto = '';
                this.showAlert();
            } else if(validarEmail()){
                this.mensaje.errorPass = '';
                this.mensaje.errorEma = 'Ohh! Ocurrio un problema con el email';
                this.mensaje.errorNom = '';
                this.mensaje.color = 'danger';
                this.mensaje.texto = '';
                this.showAlert();
            } else if(validarPassword()){
                this.mensaje.errorPass = 'Ohh! Ocurrio un problema con la contraseña';
                this.mensaje.errorEma = '';
                this.mensaje.errorNom = '';
                this.mensaje.color = 'danger';
                this.mensaje.texto = '';
                this.showAlert();
            } else {
                this.axios.put(`/usuario/${item._id}`, item)
                    .then(res => {
                        console.log("Exito edicion usuarios")
                        const index = this.usuarios.findIndex(u => u._id === res.data.usuario._id)
                        this.usuarios[index].nombre = res.data.usuario.nombre;
                        this.usuarios[index].email = res.data.usuario.email;
                        this.usuarios[index].password = res.data.usuario.password;
                        this.usuarios[index].role = res.data.usuario.role;
                        this.usuarios[index].estado = res.data.usuario.estado;
                        this.usuarioEditar = {}

                        this.mensaje.color = 'success';
                        this.mensaje.texto = 'Usuario editado con exito';
                        this.mensaje.errorPass = '';
                        this.mensaje.errorEma = '';
                        this.mensaje.errorNom = '';
                        this.alerta2 = false;
                        this.showAlert();
                    })
                    .catch(e => {
                            console.log("Error edicion usuarios")
                            console.log(e.response)
                            this.alerta2 = true;
                            this.showAlert();
                        })
                    this.editar = false;
            }
        },
        countDownChanged(dismissCountDown) {
            this.dismissCountDown = dismissCountDown
        },
        showAlert() {
            this.dismissCountDown = this.dismissSecs
        }
    },
}
</script>